# Исключаем файлы и директории, созданные виртуальным окружением Python
venv/

# Исключаем базу данных SQLite
db.sqlite3

# Исключаем файлы настроек
*.pyc
__pycache__/

# Исключаем медиа-файлы
media/
